@charset "utf-8";

#wrap{
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #FDFBF9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: 0.3s;
}

.h-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.h-logo svg:hover{
    fill: #f4aeae;
}

.h-logo svg{
    width: 180px;
    height: 100%;
    transition: 0.3s;
    fill: #B90000;
}

.main-menu-wrap{
    width: 690px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu.active{
    display: none;
}

.main-menu > li{
    width: 115px;
    height: 100%;
    color: #333333;
    font-size: 16px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: 0.3s;
}


.main-menu > li.on{
    color: #FDFBF9;
    background-color: #B90000;
}

.main-menu .submenu{
    display: none;
    position: absolute;
    top: 60px;
    
    padding: 0px 5px 5px 5px;
}

.main-menu .submenu > li{
    width: 115px;
    height: 40px;
    font-size: 12px; 
    color: #333333;
    background-color: #FDFBF9;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    transition: 0.2s;
}

.main-menu .submenu > li.active{
    background-color: #B90000;
    color: #FDFBF9;
}

.m-menu-box{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FDFBF9;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 100px 40px;
}

.m-menu-box.active{
    display: flex;
}


.m-menu-box .input-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.m-menu-box .input-box .input-bar{
    display: flex;
    align-items: center;
    position: relative;
}

.m-menu-box input{
    width: 300px;
    height: 36px;
    background-color: #333333;

    border: none;
    padding: 10px 50px 10px 20px;
    border-radius: 18px;
    margin: 0px 20px;
    outline: none;
}

.m-menu-box input::placeholder{
    color: #fff;
    transition: 0.3s;
}

.m-menu-box input:focus{
    color: #fff;
}

.m-menu-box input:focus::placeholder{
    opacity: 0;
}

.m-menu-box .input-box svg{
    width: 18px;
    height: 18px;
    fill: #FDFBF9;
    transition: 0.3s;
    position: absolute;
    top: 50%;
    right: 36px;
    transform: translateY(-50%);
}

.m-menu-box .input-box svg:hover{
    fill: #B90000;
}

.m-menu-box .m-icon-box svg:hover{
    fill: #B90000;
}

.m-main-menu{
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
}

.m-main-menu > li{
    font-size: 50px;
    font-weight: 700;
    margin-right: 50px;
    color: #333333;
    line-height: 1.5;
    transition: 0.3s;
}

.m-main-menu > li.active{
    color: #B90000;
}

.m-main-menu > li:last-child{
    margin-right: 0;
}

.m-icon-box{
    display: flex;
    justify-content: flex-end;
}

.m-icon-box svg{
    fill: #B90000;
    width: 20px;
    height: 20px;
    transition: 0.3s;

}

.m-icon-box > li{
    margin-right: 20px;
}

.m-icon-box li:last-child{
    margin-right: 0;
}


.icon-box{
    display: flex;
}

.icon-box.active{
    display: none;
}

.icon-box .icon{
    margin-right: 24px;
}

.icon-box .icon-3{
    margin-right: 0;
}

.icon-box .icon svg{
    width: 18px;
    height: 18px;
    fill: #B90000;
    transition: 0.3s;
}

.icon-box .icon svg:hover{
    fill: #f4aeae;
}

.menu-btn{
    width: 20px;
    height: 18px;
    position: relative;
    display: none;
    justify-content: center;
    transition: 0.3s;
}

.menu-btn.active{
    display: flex;
}

.menu-btn span{
    width: 100%;
    height: 2px;
    background-color: #B90000;
    position: absolute;
    transition: 0.3s;
}

.menu-btn span:nth-child(1){
    top: 0;
}

.menu-btn span:nth-child(1).active{
    height: 10px;
    border-radius: 10px 10px 0px 0px;
}

.menu-btn span:nth-child(2).active{
    top: 72%;
    background-color: rgb(23, 145, 23);
}

.menu-btn span:nth-child(2){
    top: 50%;
}

.menu-btn span:nth-child(3){
    top: 100%;
}

.banner{
    width: 100%;
    height: 100%;
    position: relative;
}

.banner .ban-swiper{
    width: 100%;
    height: 90%;
    padding-top: 60px;
    overflow: hidden;
}

.banner .ban-swiper .swiper-wrapper{
    display: flex;
    width: 400%;
    height: 100%;
}

.banner .ban-swiper .swiper-wrapper .slide{
    width: 100%;
    height: 100%;
}

.banner .ban-swiper .swiper-wrapper .slide-1{
    background: url(../img/banner1.jpg) no-repeat;
    background-size: cover;
}

.banner .ban-swiper .swiper-wrapper .slide-2{
    background: url(../img/banner2.jpg) no-repeat;
    background-size: cover;
}

.banner .ban-swiper .swiper-wrapper .slide-3{
    background: url(../img/banner3.jpg) no-repeat;
    background-size: cover;
}

.banner .ban-swiper .swiper-wrapper .slide-4{
    background: url(../img/banner4.jpg) no-repeat;
    background-size: cover;
}

.banner .ban-swiper > h1{
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 6px;
    font-size: 60px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    cursor: pointer;
    animation: bantext 2s linear infinite;
}

@keyframes bantext {
    0%{
        color: rgba(255, 255, 255, 0.5);
    }

    50%{
        color: #FDFBF9;
        filter: drop-shadow(#fff 1px 1px 5px);
    }

    100%{
        color: rgba(255, 255, 255, 0.5);
    }
    
}

.flow-wrap{
    width: 100%;
    height: 10%;
    background-color: #F8F3EE;
    overflow: hidden;
}

.flow-wrap .shapes-flow{
    width: 600%;
    height: 100%;
    animation: shapes 200s linear infinite;
}

.flow-wrap .shapes-flow .slide{
    display: flex;
    align-items: center;
}

@keyframes shapes {
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(-100%);
    }
}

.flow-wrap .shapes-flow img{
    height: 70px;
    object-fit: contain;
}

.shortcut-menu{
    width: 100%;
    height: auto;
}

.shortcut-menu .shortcut{
    width: 100%;
    height: 100%;
    display: flex;
}

.shortcut-menu .shortcut .shortcut-m{
    width: calc(100% / 4);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}

.shortcut-menu .shortcut .shortcut-m img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.shortcut-menu .shortcut .shortcut-m.active img{
    filter: brightness(0.7);
}

.shortcut-menu .shortcut-m h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    color: rgba(255, 255, 255, 0.6);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: 0.3s;
}

.shortcut-menu .shortcut-m.active h1{
    color: #fff;
}

.tab-menu{
    width: 100%;
    height: auto;
    padding: 100px 160px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #FDFBF9;
}

.tab-menu .sec-1-wrap{
    width: 100%;
    height: 100%;
}

.tab-menu .sec-1-title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.tab-menu .sec-1-title h2{
    font-size: 28px;
    color: #dbdbdb;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}

.tab-menu .sec-1-title h2.active{
    color: #B90000;
}

.tab-menu .sec-1-title h2:first-child{
    margin-right: 40px;
}

.sec-1-con{
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.sec-1-con.active{
    display: flex;
}

.sec-1-con .new-con,
.sec-1-con .best-con{
    width: calc(33.333% - 20px);
}

.sec-1-con .sec-1-img{
    width: 100%;
    height: 450px;
}

.m-sec-1{
    display: none;
}

.sec-1-con .sec-1-txt{
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.sec-1-con .new-con-4 .sec-1-txt,
.sec-1-con .new-con-5 .sec-1-txt,
.sec-1-con .new-con-6 .sec-1-txt,
.sec-1-con .best-con-4 .sec-1-txt,
.sec-1-con .best-con-5 .sec-1-txt,
.sec-1-con .best-con-6 .sec-1-txt{
    margin-bottom: 0;
}

.sec-1-con .sec-1-txt h3{
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    text-align: center;
    transition: 0.3s;
}

.sec-1-con .sec-1-txt .price{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.sec-1-con .sec-1-txt p{
    font-size: 14px;
    color: #333333;
    font-weight: 600;
    text-align: center;
    margin-right: 20px;
    
}

.sec-1-con .sec-1-txt:hover h3{
    color: #B90000;
}

.sec-1-con .sec-1-txt span{
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
    text-align: center;
    text-decoration: line-through;
}

.tab-menu .sec-1-img{
    cursor: pointer;
    position: relative;
}

.tab-menu .new-1-img{
    background: url(../img/new-1.jpg) no-repeat ;
    background-size: cover;
}

.tab-menu .new-2-img{
    background: url(../img/new-2.jpg) no-repeat ;
    background-size: cover;
}

.tab-menu .new-3-img{
    background: url(../img/new-3.jpg) no-repeat;
    background-size: cover;
}

.tab-menu .new-4-img{
    background: url(../img/new-4.jpg) no-repeat;
    background-size: cover;
}

.tab-menu .new-5-img{
    background: url(../img/new-5.jpg) no-repeat;
    background-size: cover;
}

.tab-menu .new-6-img{
    background: url(../img/new-6.jpg) no-repeat;
    background-size: cover;
}

.tab-menu .best-1-img{
    background: url(../img/best-1.jpg) no-repeat;
    background-size: cover;
}

.tab-menu .best-2-img{
    background: url(../img/best-2.jpg) no-repeat;
    background-size: cover;
}

.tab-menu .best-3-img{
    background: url(../img/best-3.jpg) no-repeat;
    background-size: cover;
}

.tab-menu .best-4-img{
    background: url(../img/best-4.jpg) no-repeat;
    background-size: cover;
}

.tab-menu .best-5-img{
    background: url(../img/best-5.jpg) no-repeat;
    background-size: cover;
}

.tab-menu .best-6-img{
    background: url(../img/best-6.jpg) no-repeat;
    background-size: cover;
}

.tab-menu .sec-1-con .img-hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.tab-menu .sec-1-con .img-hover.active{
    opacity: 1;
    z-index: 1;
    backdrop-filter: blur(0.8px);
}


.tab-menu .sec-1-con .img-hover .btn svg{
    width: 24px;
    height: 24px;
    fill: #B90000;
    transition: 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab-menu .sec-1-con .img-hover .btn{
    width: 60px;
    height: 60px;
    background-color: #FDFBF9;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 6px;
    transition: 0.3s;
    position: relative;
}

.tab-menu .sec-1-con .img-hover .btn.active{
    background-color: #B90000;
}

.tab-menu .sec-1-con .img-hover .btn.active svg{
    fill: #FDFBF9;
}

.tab-menu .sec-1-con .img-hover .buy-btn{
    margin-right: 48px;
}

.sec-2{
    width: 100%;
    height: auto;
    padding: 100px 160px;
    background-color: #F8F3EE;
}

.sec-2 .sec-2-title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.sec-2 .sec-2-title h2{
    font-size: 28px;
    font-weight: 600;
    color: #B90000;
    text-transform: uppercase;
}

.sec-2 .sec-2-wrap{
    display: flex;
    justify-content: space-between;
}

.sec-2 .sec-2-wrap .con-2 .img-2{
    background: url(../img/review-2.gif) no-repeat;
    background-size: cover;
}

.sec-2 .sec-2-wrap .con-3 .img-3{
    background: url(../img/review-3.gif) no-repeat;
    background-size: cover;
}

.sec-2 .sec-2-wrap .con-1 .img-1{
    background: url(../img/review-1.gif) no-repeat;
    background-size: cover;
}


.sec-2 .sec-2-con{
    width: calc(33.333% - 20px);
}

.sec-2 .sec-2-con .sec-2-img{
    cursor: pointer;
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.sec-2 .sec-2-con .sec-2-img.on{
    backdrop-filter: blur(1.5px);
    filter: brightness(0.6) grayscale(0.2);
}

.sec-2 .sec-2-txt .top{
    display: flex;
    justify-content: space-between;
}

.sec-2 .sec-2-txt .top h3{
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    transition: 0.2s;
}

.sec-2 .price{
    display: flex;
}

.sec-2 .sec-2-txt p{
    font-size: 14px;
    color: #333333;
    font-weight: 600;
    margin-right: 20px;
}

.sec-2 .sec-2-txt .price span{
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
    text-decoration: line-through;
}

.sec-2 .sec-2-txt .bottom{
    display: flex;
    justify-content: flex-end;
}

.sec-2 .sec-2-txt .bottom span{
    font-size: 12px;
    font-weight: 600;
    color: #9a9a9a;
    margin-right: 8px;
    transition: 0.2s;
}

.sec-2 .sec-2-txt .bottom span.active{
    color: #B90000;
}

.sec-2 .sec-2-txt .bottom .star{
    display: flex;
    align-items: center;
    color: #9a9a9a;
    transition: 0.2s;
}

.sec-2 .sec-2-txt .bottom .star i {
    font-size: 12px;
    margin-right: 2px;
}

.sec-2 .sec-2-txt .top h3.active,
.sec-2 .sec-2-txt .bottom.active span,
.sec-2 .sec-2-txt .bottom.active .star{
    color: #B90000;
}

.sec-3{
    width: 100%;
    height: 650px;
    background: url(../img/txt-bg-2.png) no-repeat center;
    background-size: cover;
    padding: 70px;
    position: relative;
    overflow: hidden;
}

.sec-3 p{
    font-size: 20px;
    color: #333333;
    font-weight: 600;
    line-height: 2;
    float: right;
    text-align: right;
    display: none;
}

.sec-3 .dino{
    width: 600px;
    height: 100%;
    position: absolute;
    right: -200px;
    bottom: -250px;
    animation: dinosaur 1s linear infinite;
}

.sec-3 .dino img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes dinosaur {
    0%{
        transform: rotate(0);
    }

    50%{
        transform: rotate(5deg);
    }

    100%{
        transform: rotate(0);
    }
}

.sec-3 .typing{  
    display: inline-block;         
}   

.sec-3 .m-typing-txt{
    display: none;
}

.sec-3 .typing::after {  
    content: '';  
    animation-name: cursor; 
    animation-duration: 0.3s; 
    animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
}

.sec-4{
    width: 100%;
    height: auto;
    padding: 100px 160px;
    background-color: #FDFBF9;
}

.sec-4 .sec-4-title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.sec-4 .sec-4-title h2{
    font-size: 28px;
    font-weight: 600;
    color: #B90000;
    text-transform: uppercase;
}

.sec-4 .sec-4-con{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.sec-4 .sec-4-con .con{
    width: calc(50% - 20px);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.sec-4 .sec-4-con .con-1{
    background: url(../img/family.jpg) no-repeat;
    background-size: cover;
}

.sec-4 .sec-4-con .con-2{
    background: url(../img/school.jpg) no-repeat;
    background-size: cover;
}

.sec-4 .sec-4-con .con .img-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 80px;
    transition: 0.3s;
    opacity: 0;
    z-index: -1;
}

.sec-4 .sec-4-con .con .img-hover img{
    object-fit: contain;
}

.sec-4 .sec-4-con .con .img-hover.active{
    opacity: 1;
    z-index: 1111;
}

.sec-4-txt{
    display: none;
}

.sec-5{
    width: 100%;
    height: auto;
    padding: 100px 300px;
    background-color: #F8F3EE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-5 .sec-5-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.sec-5 .insta-logo{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.sec-5 .sec-5-title h2{
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.sec-5 .sec-5-title span{
    font-size: 16px;
    color: #9a9a9a;
}

.sec-5 .sec-5-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sec-5 .sec-5-wrap .sec-5-con{
    width: calc(33.333% - 2px);
    cursor: pointer;
}

.sec-5 .sec-5-wrap .sec-5-con:nth-child(4),
.sec-5 .sec-5-wrap .sec-5-con:nth-child(5),
.sec-5 .sec-5-wrap .sec-5-con:nth-child(6){
    margin-top: 2px;
}

.sec-5 .more-btn{
    width: 200px;
    height: 60px;
    background-color: #eae2da;
    margin-top: 36px;
    transition: 0.3s;
}

.sec-5 .more-btn:hover{
    background-color: #B90000;
}

.sec-5 .more-btn:hover a{
    color: #FDFBF9;
}

.sec-5 .more-btn > a{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #c0b1a2;
    text-align: center;
    transition: 0.3s;
    line-height: 60px;
}

.footer{
    width: 100%;
    height: auto;
    background-color: #333333;
    padding: 40px 80px;
    display: flex;
    align-items: center;
}

.footer .bottom-line{
    margin-top: 60px;
}

.footer .f-left{
    height: 80%;
    margin-right: 80px;
}

.footer .f-logo{
    width: 250px;
    object-fit: contain;
}

.footer .cs-info > h3{
    color: #FDFBF9;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
}

.footer .cs-info > h1{
    color: #FDFBF9;
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
}

.footer .cs-info > p{
    color: #FDFBF9;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
    line-height: 1.5;
}

.footer .f-middle{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 80px;
}

.footer .f-middle .top-line{
    display: flex;
}

.footer .f-middle .top-line .account{
    margin-right: 100px;
}

.footer .f-middle .top-line h3{
    color: #FDFBF9;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.footer .f-middle .top-line p{
    color: #FDFBF9;
    font-size: 14px;
    font-weight: 400;
}

.footer .f-middle .top-line i{
    display: none;
    color: #FDFBF9;
    font-size: 10px;
    font-weight: 500;
}

.footer .bottom-line{
    display: flex;
    flex-direction: column;
}

.footer .bottom-line > p{
    color: #FDFBF9;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    word-break: keep-all;
}

.footer .bottom-line > span{
    color: #FDFBF9;
    font-size: 12px;
    font-weight: 400;
    word-break: keep-all;
}

.top-btn{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    width: 80px;
    height: 80px;
    background-color: #B90000;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}


.top-btn::after{
    content: "";
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url(../img/top-btn-txt.svg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: -34.35px;
    left: -34.45px;
    animation: top-btn-rotation 20s linear infinite;
}

@keyframes top-btn-rotation {
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }    
}

.top-btn img{
    object-fit: contain;
    transition: 0.3s;
}

.top-btn svg{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-btn.active img{
    transform: scale(1.15);
}

/* ------------------------------------ */

@media screen and (max-width: 1335px){

    .banner .ban-swiper > h1{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%,-80%);
        font-size: 42px;
    }

    .sec-1-con .new-con, 
    .sec-1-con .best-con {
        width: calc(33.333% - 10px);
    }

    .sec-1-con .sec-1-img{
        height: 355px;
    }

    .sec-2 .sec-2-con{
        width: calc(33.333% - 10px);
    }

    .sec-4 .sec-4-con .con{
        width: calc(50% - 10px);
        height: 500px; 
    }

}

/* ------------------------------------ */

@media screen and (max-width: 1185px){

    .main-menu-wrap{
        width: 600px;
    }

    .main-menu .submenu > li{
        width: 100px;
        font-size: 11px;
    }

    .main-menu > li{
        width: 100px;
    }

    .sec-2 .sec-2-txt .top{
        flex-direction: column;
        justify-content: normal;
        align-items: center;
    }

    .sec-2 .price{
        margin-top: 4px;
    }

    .sec-2 .sec-2-txt .bottom{
        justify-content: center;
        margin-top: 8px;
    }

    .sec-2 .sec-2-txt .bottom span{
        margin-right: 12px;
    }

    .sec-3 .dino{
        width: 430px;
        right: -148px;
        bottom: -258px;
    }

    .footer .f-right{
        display: none;
    }
}

/* ------------------------------------ */

@media screen and (max-width: 1120px){


    .main-menu-wrap{
        display: none;
    }

    .icon-box{
        display: none;
    }

    .menu-btn{
        display: block;
    }

    .m-menu-box{
        height: 100%;    
        padding: 20px 40px 80px;
    }

    .m-main-menu > li{
        font-size: 60px;
        margin-right: 80px;
    }

    
    .banner .ban-swiper > h1{
        top: 70%;
        left: 50%;
        transform: translate(-50%,-70%);
    }

    .sec-1-con .sec-1-img{
        height: 315px;
    }

    .sec-2 .sec-2-con .sec-2-img{
        height: 330px;
    }

    .shortcut-menu .shortcut{
        flex-wrap: wrap;
    }

    .shortcut-menu .shortcut .shortcut-m{
        width: 50%;
        height: 270px;
    }

    .footer .f-middle .top-line p{
        font-size: 10px;
    }

    .footer .bottom-line > span{
        font-size: 10px;
    }

}

/* ------------------------------------ */

@media screen and (max-width: 1000px){

    .sec-1-con .new-con, .sec-1-con .best-con{
        width: calc(50% - 10px);
    }

    .tab-menu{
        padding: 100px 80px;
    }

    .sec-1-con .sec-1-img{
        height: 410px;
    }

    .sec-1-con .new-con-4 .sec-1-txt,
    .sec-1-con .best-con-4 .sec-1-txt{
        margin-bottom: 40px;
    }

    .sec-2 {
        padding: 100px 80px;
    }

    .sec-2 .sec-2-con .sec-2-img{
        height: 300px;
    }

    .sec-3{
        height: 500px;
    }


    .sec-3 p{
        line-height: 1.5;
    }

    .sec-3 .dino {
        width: 400px;
        right: -158px;
        bottom: -199px;}

    .sec-4{
        padding: 100px 80px;
    }

    .sec-4 .sec-4-con .con{
        height: 450px;
    }

    .sec-5{
        padding: 100px 160px;
    }

    .footer{
        justify-content: space-between;
    }

    .footer .bottom-line > p{
        display: none;
    }

    .footer .f-middle{
        margin-right: 0;
    }

    .footer .f-middle .top-line p{
        font-size: 12px;
    }

    .footer .f-logo{
        width: 180px;
    }

    .footer .f-middle .top-line{
        margin-bottom: 30px;
    }

    .top-btn{
        width: 50px;
        height: 50px;
        padding: 10px;
        right: 24px;
    }

    .top-btn img{
        object-fit: contain;
    }

    .top-btn::after{
        width: 95px;
        height: 95px;
        top: -22.35px;
        left: -22.2px;
    }

}

/* ------------------------------------ */

@media screen and (max-width: 960px){

    .tab-menu .sec-1-title{
        margin-bottom: 20px;
    }

    .tab-menu .sec-1-title h2{
        font-size: 24px;
    }

    .sec-2 .sec-2-title h2{
        font-size: 24px;
    }

    .sec-2 .sec-2-title{
        margin-bottom: 20px;
    }

    .sec-4 .sec-4-title h2{
        font-size: 24px;
    }

    .sec-4 .sec-4-title{
        margin-bottom: 20px;
    }

    .sec-3 p{
        font-size: 16px;
    }

    .sec-3 .m-typing-txt{
        display: block;
    }
    
    .sec-3 .typing-txt{
        display: none;
    }

    .sec-3 .typing{
        display: none;
    }

    .sec-5{
        padding: 100px 130px;
    }

    .sec-5 .sec-5-title{
        margin-bottom: 20px;
    }

    .footer .f-middle .top-line h3{
        font-size: 14px;
        display: flex;
    }

    .footer .f-middle .top-line p{
        display: none;
    }

    .footer .f-middle .top-line i{
        display: block;
    }

    .footer .f-middle .top-line i{
        font-size: 8px;
        line-height: 14px;
    }
}

/* ------------------------------------ */

@media screen and (max-width: 845px){


    .m-main-menu{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .m-main-menu > li{
        font-size: 50px;
        line-height: 2;
    }

    .banner .ban-swiper .swiper-wrapper .slide-1,
    .banner .ban-swiper .swiper-wrapper .slide-2,
    .banner .ban-swiper .swiper-wrapper .slide-3,
    .banner .ban-swiper .swiper-wrapper .slide-4{
        background-position: center;
    }

    .sec-1-con .sec-1-txt h3{
        font-size: 14px;
    }

    .sec-1-con .sec-1-txt p{
        font-size: 12px;
    }

    .sec-1-con .sec-1-txt span{
        font-size: 12px;
    }

    .sec-2 .sec-2-txt .top h3{
        font-size: 14px;
    }

    .sec-2 .sec-2-txt .price span{
        font-size: 12px;
    }

    .sec-2 .sec-2-txt p{
        font-size: 12px;
    }

    .sec-2 .sec-2-txt .bottom .star i{
        font-size: 10px;
    }

    .footer .f-middle .top-line{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer .f-middle .top-line .return{
        margin-top: 12px;
    }
}
/* ------------------------------------ */

@media screen and (max-width: 768px){

    .m-main-menu > li{
        font-size: 40px;
    }

    .m-icon-box{
        margin-top: 20px;
    }

    .sec-1-con .new-con, .sec-1-con .best-con {
        width: calc(50% - 8px);
    }

    .sec-1-con .sec-1-img {
        height: 350px;
    }

    .sec-2 .sec-2-con .sec-2-img {
        height: 250px;
    }

    .sec-2 .sec-2-wrap{
        flex-direction: column;
    }

    .sec-2 .sec-2-con {
        width: 100%;
        margin-top: 32px;
    }

    .sec-2 .sec-2-con:nth-child(1){
        margin-top: 0;
    }

    .sec-2 .sec-2-wrap .con-1 .img-1,
    .sec-2 .sec-2-wrap .con-2 .img-2,
    .sec-2 .sec-2-wrap .con-3 .img-3
    {
        background-position: 0px -80px;
    }

    .sec-2 .sec-2-con .sec-2-img {
        height: 350px;
        margin-bottom: 12px;
    }

    .sec-3 {
        height: 340px;
        padding: 40px 80px;
    }

    .sec-3 .dino{
        width: 300px;
        right: -117px;
        bottom: -150px;
    }

    .sec-3 p{
        font-size: 14px;
    }


    .sec-4 .sec-4-con{
        flex-direction: column;

    }

    .sec-4 .sec-4-con .con-1{
        background-position: 0px -80px;
        margin-bottom: 32px;
    }

    .sec-4 .sec-4-con .con{
        width: 100%;
        height: 350px;
    }

    .sec-4 .sec-4-con .con:nth-child(2){
        margin-top: 8px;
    }

    .sec-5 .sec-5-wrap .sec-5-con{
        width: calc(50% - 1.25px);
    }

    .sec-5 .sec-5-wrap .sec-5-con:nth-child(4), 
    .sec-5 .sec-5-wrap .sec-5-con:nth-child(5), 
    .sec-5 .sec-5-wrap .sec-5-con:nth-child(6){
        margin-top: 0;
    }

    .sec-5 .sec-5-wrap .sec-5-con:nth-child(1), 
    .sec-5 .sec-5-wrap .sec-5-con:nth-child(2), 
    .sec-5 .sec-5-wrap .sec-5-con:nth-child(3),
    .sec-5 .sec-5-wrap .sec-5-con:nth-child(4){
        margin-bottom: 2px;
    }

    .sec-5 .more-btn{
        width: 170px;
        height: 50px;
    }

    .sec-5 .more-btn > a{
        font-size: 14px;
        line-height: 50px;
    } 

    .footer{
        display: block;
    }

    .footer .f-middle{
        width: 100%;
    }

    .footer .f-logo{
        width: 150px;
    }

    .footer .cs-info > h3{
        font-size: 14px;
        margin-top: 20px;
    }

    .footer .cs-info > h1{
        font-size: 18px;
    }

    .footer .f-middle .top-line{
        margin: 30px 0px;
    }

    .footer .bottom-line{
        margin-top: 0;
    }
}

/* ------------------------------------ */

@media screen and (max-width: 630px){

    .header{
        padding: 10px 16px;
    }

    .m-menu-box .input-box svg{
        pointer-events: none;  
    }

    .m-icon-box svg{
        pointer-events: none;
    }

    .banner .ban-swiper > h1{
        font-size: 32px;
    }

    .shortcut-menu .shortcut{
        justify-content: space-between;
        background-color: #FDFBF9;
    }

    .shortcut-menu .shortcut-m h1{
        font-size: 36px;
        color: #FDFBF9;
    }

    .shortcut-menu .shortcut .shortcut-m{
        width: calc(50% - 2.5px);
    }

    .shortcut-menu .shortcut .shortcut-m img{
        filter: contrast(0.8);
    }

    .shortcut-menu .shortcut .shortcut-m:nth-child(3),
    .shortcut-menu .shortcut .shortcut-m:nth-child(4){
        margin-top: 4.35px;
    }

    .tab-menu{
        padding: 80px 16px;
    }

    .sec-1-con{
        flex-direction: column;
    }

    .sec-1-txt{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .sec-1-con .sec-1-txt h3{
        text-align: left;
    }

    .sec-1-con .sec-1-txt .price{
        justify-content: left;
    }

    .sec-1 .img-hover{
        display: none;
    }

    .sec-1-con .new-con-5 .sec-1-txt,
    .sec-1-con .best-con-5 .sec-1-txt{
        margin-bottom: 40px;
    }

    .m-sec-1{
        display: flex;
        justify-content: right;
    }

    .m-sec-1 .m-sec-1-btn svg{
        width: 16px;
        height: 16px;
        fill: #B90000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .m-sec-1 .m-sec-1-btn{
        width: 36px;
        height: 36px;
        background-color: #FDFBF9;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
        margin-right: 20px;
        position: relative;
    }

    .m-sec-1 .m-sec-1-btn:nth-child(2){
        margin-right: 0;
    }

    .tab-menu .best-5-img{
        background-position: 0px -80px; 
    }

    .tab-menu .best-6-img{
        background-position: 0px -80px;
    }

    .sec-2{
        padding: 80px 16px;
    }

    .sec-1-con .sec-1-txt{
        pointer-events: none;
    }

    .sec-2 .sec-2-txt .bottom span,
    .sec-2 .sec-2-txt .bottom .star
    {
        color: #B90000;
        pointer-events: none;
    }


    .sec-1-con .new-con, .sec-1-con .best-con{
        width: 100%;
        overflow: hidden;
    }

    .sec-3{
        padding: 40px 16px;
    }

    .sec-3 p{
        font-size: 12px;
    }

    .sec-4{
        padding: 80px 16px;
    }

    .sec-4-txt{
        display: block;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 32px;
    }

    .sec-4 .sec-4-con .schoollook{
        margin-bottom: 0;
    }

    .sec-4-txt p{
        color: #333333;
        font-size: 14px;
        font-weight: 700;
    }

    .sec-4 .sec-4-con .con-1{
        margin-bottom: 0;
    }

    .sec-5{
        padding: 80px 40px;
    }

    .sec-5 .more-btn{
        pointer-events: none;
    }

    .footer{
        padding: 32px 16px;
    }

    .footer .cs-info > p{
        font-size: 10px;
    }

    .footer .f-left{
        margin-right: 50px;
    }

    .footer .f-middle .top-line h3{
        font-size: 12px;
    }

    .footer .cs-info > h3{
        font-size: 12px;
    }
}

/* ------------------------------------ */

@media screen and (max-width: 465px){

    .m-main-menu > li{
        font-size: 32px;
    }

    .shortcut-menu .shortcut .shortcut-m:nth-child(1) img, 
    .shortcut-menu .shortcut .shortcut-m:nth-child(3) img, 
    .shortcut-menu .shortcut .shortcut-m:nth-child(4) img {
        object-position: top;
    }

    .shortcut-menu .shortcut-m h1{
        font-size: 28px;
    }

    .shortcut-menu .shortcut .shortcut-m{
        height: 145px;
    }


    .banner .ban-swiper > h1{
        font-size: 22px;
    }

    .sec-3{
        background-position: right center;
    }
}
